---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }} (last update){% else %}{{ time }}{% endif %}
      {% if site.history %}{% include post/history.html %}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
    <table>
      <tr>
        <td>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog_widget -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6228702140385127"
     data-ad-slot="3243171800"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </td>
        <td>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog_widget -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6228702140385127"
     data-ad-slot="3243171800"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </td>
      </tr>
    </table>
      </footer>
    </article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
{% if site.juvia_site_key and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="juvia_thread" aria-live="polite">{% include post/juvia_thread.html %}</div>
  </section>
{% endif %}
</div>
